<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290299394725-epou9u7bhvbojv5pl76nu481eivflkjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290299394725-epou9u7bhvbojv5pl76nu481eivflkjp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>290299394725-c46veuc7p3lstsssb8cgnv0tri9kpoie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApaGI1Eq_1IKpoUYgf70H4HPJpNkGEWFI</string>
	<key>GCM_SENDER_ID</key>
	<string>290299394725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wasteNot</string>
	<key>PROJECT_ID</key>
	<string>waste-not-d02f6</string>
	<key>STORAGE_BUCKET</key>
	<string>waste-not-d02f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290299394725:ios:243388777eded2de622b4c</string>
</dict>
</plist>